* {
  box-sizing: border-box;
}

html, body {
  background-color: rgb(229, 231, 235);
}

#input-group {
  display: none;
}

.group {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

#button-group > button,
#input-group > input[type=text] {
  border: 2px solid rgb(229, 231, 235);
  padding: 4px;
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  background-color: white;
  border-radius: 5px;
  font-size: 2.5rem;
  outline: none;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
}

#button-group > button.selected {
  border: 2px solid rgb(3, 176, 238);
}

#button-group > button.disabled {
  cursor: not-allowed;
  filter: brightness(0.9);
}

#edit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#edit-button {
  background-color: rgb(3, 176, 238);
  transition: background-color 0.2s ease-in-out;
}

#edit-button:hover,
#edit-button:focus {
  background-color: rgb(3, 158, 214);
}

#save-button {
  background-color: rgb(76, 175, 80);
  transition: background-color 0.2s ease-in-out;
}

#save-button:hover,
#save-button:focus {
  background-color: rgb(68, 157, 72);
}

#edit-wrapper > button {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(229, 231, 235);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  width: 6rem;
}

.link-wrapper {
  display: flex;
  justify-content: center;
}

.link {
  color: rgb(170, 170, 170);
  font-size: 0.75rem;
}

.link:hover,
.link:focus {
  color: rgb(136, 136, 136);
}
